In [9]:
# 노트북이 되면 노트북으로 써야져~~
import numpy as np
from pandas import DataFrame
from pandas import Series

In [16]:
obj = Series(np.arange(4), index=['a', 'b', 'c', 'd'])

obj

a    0
b    1
c    2
d    3
dtype: int32

In [24]:
# .reindex
obj2 = obj.reindex(['b', 'c', 'a', 'd'])

obj2  # 데이터는 색인에 맞게 재배열 된다.

b    1
c    2
a    0
d    3
dtype: int32

In [32]:
obj.reindex(['c', 'b', 'd', 'a', 'f'], fill_value=99)
# fill_value 속성으로 누락된 값에 들어갈 값을 정해줄 수 있다.

c     2
b     1
d     3
a     0
f    99
dtype: int32

In [5]:
obj3 = Series(['a', 'b', 'c'], index=[0, 2, 3])

obj3.reindex(np.arange(6), method='bfill')

0      a
1      b
2      b
3      c
4    NaN
5    NaN
dtype: object

In [6]:
frame = DataFrame(np.arange(9).reshape(3, 3), index=['a', 'b', 'c'], columns=[1, 2, 3])

frame

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>b</th>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
    <tr>
      <th>c</th>
      <td>6</td>
      <td>7</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
obj4 = Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])

obj4.drop('d')

a    0.0
b    1.0
c    2.0
e    4.0
dtype: float64

In [33]:
obj5 = Series(np.arange(4.), index=['a', 'b', 'c', 'd'])

obj5[obj5 < 3]

a    0.0
b    1.0
c    2.0
dtype: float64

In [43]:
s1 = Series([0, 1, 2, 3, 4], index=['a', 'b', 'c', 'd', 'e'])
s2 = Series(np.arange(7), index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])

s1 + s2

a     0.0
b     2.0
c     4.0
d     6.0
e     8.0
f    15.0
g    16.0
dtype: float64

In [45]:
df1 = DataFrame(np.arange(12.).reshape(3, 4), columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape(4, 5), columns=list('abcde'))

df1.add(df2, fill_value=0)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      <th>d</th>
      <th>e</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>6.0</td>
      <td>4.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9.0</td>
      <td>11.0</td>
      <td>13.0</td>
      <td>15.0</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18.0</td>
      <td>20.0</td>
      <td>22.0</td>
      <td>24.0</td>
      <td>14.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15.0</td>
      <td>16.0</td>
      <td>17.0</td>
      <td>18.0</td>
      <td>19.0</td>
    </tr>
  </tbody>
</table>
</div>